# Configuración de las APIs para Potato (Plantilla)
POTATO_GEMINI_API_KEY=""
POTATO_ELEVEN_API_KEY=""
POTATO_VOICE_ID=""
POTATO_VOICE_SERVER_IP=""
POTATO_VOICE_SERVER_PORT=""

# Puerto del servidor de audio
POTATO_AUDIO_PORT=8000

# Configuración del servidor HTML
POTATO_HTML_HOST=0.0.0.0
POTATO_HTML_PORT=8082

# Exponer automáticamente el servidor web en internet usando Tailscale Funnel (True/False)
EXPOSE_TAILSCALE=True

# Umbral de silencio (en segundos) para considerar que has terminado de hablar (def: 0.8)
PAUSE_THRESHOLD=2.0

# Duración máxima de una frase grabada en segundos (None para sin límite de tiempo)
PHRASE_TIME_LIMIT=None
